body{
    background-color: rgb(77, 200, 200);
}
.warning{
    background-color: red;
    padding: 10px;
    border-radius: 4px;
}
#key-takeaway{
    background-color: aliceblue;
    font-size: 18px;
    padding: 10px;
    border: 4px dashed black;
    border-radius: 4px;
}
